.App{
  display:flex;
  flex-direction: column;
}
.userCard {
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}
.card {
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}
.followersArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
img{
  width: 190px;
}